/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

html {
    padding: 0;
    height: 100%;
}

body {
    /* margin-top: 63px; */
    height: 100%;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Alkalami', serif;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}