<div class="container">
    <!-- Jumbotron Header -->
    <header *ngIf="isRecipes" class="jumbotron my-4">
        <h1 class="display-4">Our Recipes Make Your Life Better!</h1>
        <p class="lead">
            There are no recipes to show
        </p>
        <p class="lead">Let us know your favorite recipes!</p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
        <div *ngFor="let recipe of recipes" class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" [src]="recipe.picUrl" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{recipe.name}}</h4>
                    <p class="card-text">{{recipe.description}}</p>
                </div>
                <div class="card-footer">
                    <a (click)="goToRecipe(recipe)" class="btn btn-info">See The Recipe</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->