<!-- Page Content -->
<div class="container">
    <br>
    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{recipe.name}}</h1>


    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" [src]="recipe.picUrl" alt="">
        </div>

        <div class="col-md-6">
            <h2>Ingredients</h2>
            <li *ngFor="let item of listIngredients; index as i">
                <tr (click)="onClickIngredient(i)" [ngClass]=" item.done ? 'line' :  'unline'">
                    {{item.name}}
                </tr>
            </li>
        </div>

    </div>
    <!-- /.row -->
    <br>
    <br>
    <div class="row">

        <div class="col-md-9 mt-3">
            <br>
            <h2>Steps</h2>
            <ul>
                <li *ngFor="let step of steps">{{step}}</li>
                
            </ul>
        </div>
    </div>
    <br>
    <br>

</div>
<!-- /.container -->